* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

main {
  margin: 30px;
}

/* enter location */
form {
  display: flex;
  margin: 20px 0;
}

input {
  width: 100%;
  border-radius: 10px 0 0 10px;
  padding: 0 10px;
  border: none;
  outline: none;
}

form>button {
  padding: 10px 20px;
  border-radius: 0 10px 10px 0;
  border: none;
  outline: none;
}

/* display current day */
.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5.8px);
  -webkit-backdrop-filter: blur(5.8px);
}

.card-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  min-height: 220px;
}

.weather-status {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.weather-img {
  width: auto;
  padding: 0;
  margin: 0;
}

.weather-description {
  padding: 0;
  margin: 0;
  text-transform: capitalize;
  font-weight: bold;
}

.card-body {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  min-height: 100px;
  margin-bottom: 30px;
}

.card-footer {
  margin: 20px;
}

.center-item {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 30px 20px;

  background: rgba(255, 255, 255, 0.5);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5.8px);
  -webkit-backdrop-filter: blur(5.8px);
}

.center-item p {
  margin: 0;
  text-align: center;
}

.item-title>p {
  text-transform: capitalize;
  font-weight: bold;
  margin: 10px;
}

.item-title {
  display: flex;
  align-items: center;
}

.card-footer {
  min-height: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-link {
  padding: 10px 20px;
  background-color: transparent;
  border: 1px solid black;
  border-radius: 10px;
  cursor: pointer;
  text-transform: capitalize;
}

/* detail-page */
.detail-main-container {
  padding: 20px 75px;

  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.5);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5.8px);
  -webkit-backdrop-filter: blur(5.8px);
  margin: 50px;
}

.detail-main-container>h1 {
  text-align: center;
  margin: 40px 0;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}


.today-main-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
  padding: 30px 10px;
  margin-bottom: 15px;
  /* From https://css.glass */
  background: rgba(149, 35, 35, 0.5);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5.8px);
  -webkit-backdrop-filter: blur(5.8px);
}

.today-main {
  text-align: center;
  margin: 10px;
  /* From https://css.glass */
  background: rgba(133, 81, 81, 0.5);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5.8px);
  -webkit-backdrop-filter: blur(5.8px);
}

.today-card {
  padding: 10px;
}

.today-card-header>img {
  width: 100px;
}

.today-card-body div {
  margin: 5px 0;
}

/* other day */
.remain-day-container {
  margin-top: 15px;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: space-around;
  align-items: center;

  background: rgba(133, 81, 81, 0.5);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5.8px);
  -webkit-backdrop-filter: blur(5.8px);
}

.other-day {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 120px;
  padding: 20px 10px;
  margin: 20px;

  background: rgba(133, 81, 81, 0.5);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5.8px);
  -webkit-backdrop-filter: blur(5.8px);
}

.other-day>h4 {
  padding: 10px 0;

}

.other-day-text {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.other-day-text p {
  margin: 10px;
}

.other-day-text i {
  margin: 5px;
}

.loading{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px 0;
}