:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    /* color-scheme: light dark; */
    color: rgba(12, 12, 12, 0.87);
    background-color: #ffffff;
    font-synthesis: none;

}

body {
    margin: 0;
    box-sizing: border-box;
    width: 100%;
    display: flex;
    margin-top: 100px;
    justify-content: center;
    align-items: center;

}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
}

button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s;
}

main {
    font-family: "Roboto", sans-serif;
    max-width: 500px;
    min-width: 500px;
}

h1,
h2,
h3 {
    text-align: center;
}

.todo-form {
    margin: 20px 0;
}

@media (max-width: 768px) {
    main {
        min-width: 350px;
        max-width: 350px;
    }

}

form {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 0px rgba(128, 128, 128, 1);
    -webkit-box-shadow: 0px 0px 5px 0px rgba(128, 128, 128, 1);
    -moz-box-shadow: 0px 0px 5px 0px rgba(128, 128, 128, 1);
}

.edit-form {
    margin: 40px 0;
}

input {
    padding: 15px;
    width: 100%;
    border-radius: 10px 0 0 10px;
    border: 1px solid gray;
    border-right: none;
    color: gray;
    outline: none;
    font-size: 16px;
    font-weight: bold;
    transition: 0.3s ease;
}

input:focus {
    border-color: darkblue;
    color: darkblue;
    box-shadow: 0px 0px 15px 0px darkblue;
    -webkit-box-shadow: 0px 0px 15px 0px darkblue;
    -moz-box-shadow: 0px 0px 15px 0px darkblue;
}

button {
    background-color: darkblue;
    color: white;
    outline: none;
    border: 1px solid darkblue;
    border-radius: 0px 10px 10px 0;
    padding: 15px;
    font-size: 16px;
    font-weight: bold;
    transition: 0.3s ease;
    cursor: pointer;
}

.addIcon:hover {
    animation: addRotation 2s linear infinite;
}

@keyframes addRotation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.save-icon:hover {
    animation: saveRotation 2s linear infinite;
}

@keyframes saveRotation {
    from {
        transform: rotateY(0deg);
    }

    to {
        transform: rotateY(360deg);
    }
}

.todo-container {
    width: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    padding: 10px;
    margin: 20px 0;
    border: 2px solid gray;
    border-left: 10px solid gray;
    transition: 0.3s ease;
}

.todo-name {
    color: gray;
    font-size: 20px;
    font-weight: bold;
    text-transform: capitalize;
    transition: 0.3s ease;
    margin-left: 20px;
}

.active {
    border: 2px solid darkblue;
    border-left: 10px solid darkblue;
}

.done {
    color: darkblue;
}

.todo-buttons {
    display: flex;
    align-items: center;
    gap: 10px;
}

.todo-button {
    padding: 10px;
    border: none;
    background-color: transparent;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s ease;
    color: gray;
}

.todo-button:hover {
    background-color: darkblue;
    color: white;
}

.tick {
    color: green;
}

.disable {
    color: gray;
}

.disable:hover {
    color: gray;
    background-color: none;
}

@media (max-width: 768px) {
    .todo-buttons {
        flex-direction: column;
    }
}